{% extends "base.html" %}
{% block title %}Contacto{% endblock %}
{% block content %}
<section>
    <h2>Contáctanos</h2>
    <form action="#" method="post">
        <label>Nombre:</label>
        <input type="text" name="nombre" required>

        <label>Correo:</label>
        <input type="email" name="correo" required>

        <label>Mensaje:</label>
        <textarea name="mensaje" rows="4" required></textarea>

        <button type="submit">Enviar</button>
    </form>
</section>
{% endblock %}
