{% extends "base.html"%}
{% block title %}Inicio{% endblock %}

{% block content %}
<h1>¡Bienvenido a Papelería Río!</h1>
<p>Tu destino para todo lo que necesitas en artículos de papelería, oficina y escolares. En Papelería Río, nos apasiona brindarte las herramientas para dar vida a tus ideas.</p>

<p>Descubre nuestra amplia selección de productos de alta calidad:</p>
<ul>
    <li>Cuadernos y libretas para cada propósito.</li>
    <li>Lápices, bolígrafos y marcadores de todos los colores.</li>
    <li>Material de oficina esencial: carpetas, archivadores y más.</li>
    <li>Artículos de arte y manualidades para desatar tu creatividad.</li>
    <li>Un rincón especial para los más pequeños, con sets de dibujo y juegos didácticos.</li>
</ul>

<p>¡Explora nuestro catálogo y encuentra lo que buscas! Si eres nuevo, no dudes en registrarte para recibir ofertas exclusivas.</p>
{% endblock %}